body {
  background-color: #eae8e3;
  /* background-color: green; */
}

.hero-image-text {
  width: 1007px;
  margin: 0 auto;
  display: block;
  margin-top: 177px;
}

.hero-elipse {
  position: absolute;
  right: 300px;
  top: 100px;
  z-index: -100;
}

.hero-elipse-text,
.hero-section-small-text {
  /* How to import this google font? */
  font-family: "Cabin";
  font-size: 24px;
}

.hero-elipse-text {
  position: absolute;
  width: 368px;
  left: 923px;
  top: 226px;
}

.hero-section-small-text {
  position: absolute;
  top: 806px;
  left: 246px;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.about-me-intro-header,
.about-me-description {
  width: 480px;
}

.me-about-image {
  width: 472px;
}

.outter-about-me-container {
  background-color: greenyellow;
  height: 800px;
}
.inner-about-me-section {
  /* margin-top: 500px; */
}

.me-text {
  width: 280px;
  position: relative;
  left: 55%;
  top: 33%;
}

#about-me-invis-div {
  height: 200px;
}

#about-me-intro-container {
  margin-right: 200px;
}
